*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  transform: translateX(15%);
}

.navigation {
  background-color: none;
  padding: 50px 0;
  position: absolute;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 16px;
}

.navigation li {
  margin: 0 36px 0 0;
  position: relative;
  font-size: 16px;
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
  font-family: "Roboto", sans-serif;
}

.navigation a:hover {
  color: #fdd133;
  transition: 0.5s;
}

.brand a {
  color: #FEB715;
  transition: 1s;
  font-size: 24px;
  font-family: "Great Vibes", cursive;
}

.brand a:hover {
  color: #000000;
  transition: 1s;
}

.splash {
  color: #ffffff;
  min-height: 700px;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../images/Background_Image.jpg);
  background-position: center;
}

.splash-inner {
  padding-top: 100px;
  margin: auto;
  max-width: 70%;
  text-align: center;
}

.page-title {
  margin: 0;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
}

.page-subtitle {
  margin: 0 0;
  font-weight: 900;
  font-size: 42px;
  padding-top: 25px;
}

.sub-head {
  font-size: 78px;
}

.head {
  font-size: 38px;
}

.splash-inner a {
  color: #ffffff;
  font-weight: bold;
}

.btn {
  display: inline-block;
  min-width: 240px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border: none;
  background-color: #ffd800;
  background-position: 100% 0;
  background-size: 300%;
  transition: 1s;
}

.btn:hover {
  background-position: 0 100%;
  color: #2272cb;
  transition: 1s;
}

.services {
  width: 100%;
  background-color: #ffffff;
  margin-top: 30px;
}

.services-head {
  text-align: center;
  padding: 56px;
}

.services-sub {
  margin-bottom: 60px;
}

.left {
  padding-left: 70px;
}

.card {
  margin-bottom: 50px;
  background-color: #ffffff;
  width: 300px;
}

.card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-body {
  text-align: center;
  height: 80px;
}

.card-body h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}

.card-body p {
  margin-top: 0;
}

.portfolio {
  width: 100%;
  background-color: #E1DFDF;
  margin-top: 30px;
}

.icon {
  font-size: 42px;
  border-radius: 50%;
  color: #FEB715;
  width: 70px;
  height: 70px;
  line-height: 60px;
  border: 3px solid #FEB715;
}

.footer {
  margin-top: 40px;
}

.footer li {
  font-size: 0;
  display: inline-block;
  text-align: center;
  padding: 0;
}

.footer ul {
  position: relative;
  list-style-type: none;
  padding: 0;
}

.footer p {
  font-size: 16px;
}

.footer i {
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #000000;
  margin: 5px;
}

@media (max-width: 767px) {
  .card-image {
    max-width: 100%;
    height: 150px;
    position: relative;
  }
  .navigation li {
    margin: 0 10px 0 0;
    font-size: 14px;
  }
  .spash-inner {
    margin: 10px;
  }
  .page-title {
    font-size: 60px;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    -ms-flex: 0 0 20%;
        flex: 0 0 20%;
  }
}
/*# sourceMappingURL=style.css.map */